[Desktop Entry]
Version=1.0
Type=Application
Name=Bifrost Authentication
Exec=<WILL BE CHANGED DURING INSTALLATION>
Icon=utilities-terminal
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/bifrost-totp;
